* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: Lato, sans-serif;
  /* height: 100%; */
}
.container {
  position: relative;
  background-image: url(../img/container_bg.png);
  /* min-height: 100vh; */
  height: 2000px;
}

.homepage {
  padding-top: 250px;
  text-align: center;
}

.title {
  margin-bottom: 25px;
  font-size: 7rem;
  font-weight: 700;
}

.searching {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-poke {
  margin: 1rem;
  width: 51vw;
  height: 50px;
  border-radius: 25px;
  padding: 10px;
  border: none;
  box-shadow: #313131 2px 2px 4px;
}

.search-poke:active {
  outline: none;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-search {
  width: 29px;
}

.btn {
  cursor: pointer;
}

/* -------------poke-container--------------- */
.poke-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1vw;
  padding: 20px;
  border-radius: 15px;
  width: 85%;
  margin-left: 12%;
}

.not-found-message {
  width: 89%;
  display: flex;
  justify-content: center;
  min-height: 200px;
}

.not-found-message h2 {
  color: #666;
}

.pokemon-card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  transition: transform 0.3s ease;
  cursor: pointer;
}

.pokemon-card img {
  width: 16vw;
  border-radius: 15px;
  background-color: #e0dada;
}

.pokemon-card:hover {
  transform: scale(1.05);
}
.pokemon-card p,
.pokemon-card h3 {
  padding-left: 1.5rem;
  font-weight: 600;
}
.pokemon-card p {
  color: #919191;
  font-size: 1.3rem;
  padding-top: 0.2rem;
}
.pokemon-card h3 {
  font-size: 1.8rem;
  color: #313131;
  margin: 10px 0;
}
/* Types container */
.pokemon-card .types {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between type tags */
  margin-top: 10px;
}
.type {
  border-radius: 3px;
  line-height: 18px;
  max-width: 80px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  font-size: 1.1rem;
  text-align: center;
}

/* --------pop-up-------- */
.pu-container {
  position: fixed;
  opacity: 0;
  left: 23%;
  top: 15%;
  width: 53vw;
  height: 465px;
  z-index: -1;
  border-radius: 15px;
  background: radial-gradient(
    circle at 50% 0%,
    rgb(149, 175, 192) 50%,
    rgb(225, 204, 245) 50%,
    rgb(212, 198, 235) 75%,
    rgb(194, 185, 230) 100%
  );
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.pu-container.open {
  opacity: 1;
  z-index: 1;
}

.block-top {
  margin: 5rem 2.2rem 2rem;
}

.info-block img {
  position: absolute;
  width: 40%;
  left: 33%;
  top: 0%;
}

.info-block .info {
  display: flex;
  justify-content: space-around;
  margin-top: 28rem;
}

.info-block .info .id {
  position: absolute;
  top: 1.5625%;
  left: 1.5625%;
  color: #0f0707;
  font-weight: 500;
  font-size: 2.3rem;
  border-radius: 5px;
  background-color: #dab2f1;
}

.info-block .info .name {
  font-size: 5rem;
  font-weight: 500;
  z-index: 4;
}

.stats {
  position: absolute;
  width: 48%;
  right: 0;
  margin-top: 2%;
}

.row-top,
.row-bt {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.row-top div,
.row-bt div {
  flex: 1;
}

.stat-title {
  color: #fff;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  text-align: center;
}

.stat-value {
  font-size: 2.3rem;
  text-align: center;
}

.block-bottom {
  /* display: flex; */
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2rem;
  font-weight: 400;
}

.info-more {
  margin: 4% 3.5625% 0;
}

.block-bottom .types .type {
  border-radius: 3px;
  font-size: 1.1rem;
}

#close {
  position: absolute;
  top: -8%;
  right: -8%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #e5d7f3;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
}

#close:hover {
  background-color: #bd9ce6;
  transform: scale(1.1);
}

#close:active {
  transform: scale(0.85);
}

/* Type colors */
.type.grass {
  background: #9bcc50;
}
.type.bug {
  background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
  background-color: #729f3f;
}
.type.poison {
  background: #b97fc9;
}

.type.fire {
  background: #fd7d24;
}
.type.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
}
.type.water {
  background: #4592c4;
}
.type.normal {
  background-color: #a4acaf;
}
.type.electric {
  background-color: #eed535;
}
.type.ground {
  background-color: #f7de3f;
}
.type.fairy {
  background-color: #fdb9e9;
}
.type.fighting {
  background-color: #d56723;
}
.type.psychic {
  background-color: #f366b9;
}
.type.rock {
  background-color: #a38c21;
}

.type.dark {
  background-color: #707070;
}

.type.ice {
  background-color: #6cf;
}
.type.steel {
  background-color: #aab;
}
.type.unknown {
  background-color: #66b;
}
.type.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
}
